
body{
 background:#0f172a;
 color:white;
 font-family:sans-serif;
 text-align:center;
}
.screen{
 max-width:420px;
 margin:auto;
 padding:20px;
}
button{
 padding:10px;
 margin:5px;
 border-radius:10px;
 border:none;
 background:#6366f1;
 color:white;
 font-size:16px;
}
#timer{
 font-size:48px;
 animation:pulse 1s infinite;
}
@keyframes pulse{
 0%{opacity:1}
 50%{opacity:0.5}
 100%{opacity:1}
}
